extends ../layout/common.pug

block content

	h1 Create user

	form(action="/users/create", method="POST")
		.form-group
			label(for='name') Name
			input#name.form-control(type='text', name='name', placeholder='Name')

		.form-group
			label(for='phone') Phone
			input#phone.form-control(type='text', name='phone' placeholder='Phone')

		button.btn.btn-primary Create
